<div id="taskFormModal" class="form-modal-container">
  <div class="container form-container">
    <h2>{{ vehicle.id ? 'Editar Vehiculo' : 'Nuevo Vehiculo' }}</h2>

    <form (ngSubmit)="onSubmit()">
      <div class="form-grid">
        <!-- Marca y Modelo en la misma línea -->
        <div class="form-group">
          <label for="marca">Marca</label>
          <select 
            class="form-control" 
            id="marca" 
            name="marca" 
            [(ngModel)]="vehicle.marca"
            (change)="onMarcaChange()"
            required>
            <option value="">Seleccione una marca</option>
            <option *ngFor="let marca of marcas" [value]="marca.id">
              {{marca.nombre}}
            </option>
          </select>
          <a [href]="['/vehicles/catalogo/marca']" class="add-link">Agregar Marca</a>
        </div>

        <div class="form-group">
          <label for="modelo">Modelo</label>
          <select 
            class="form-control" 
            id="modelo" 
            name="modelo" 
            [(ngModel)]="vehicle.modelo"
            required>
            <option value="">Seleccione un modelo</option>
            <option *ngFor="let modelo of filteredModelos" [value]="modelo.id">
              {{modelo.nombre}}
            </option>
          </select>
          <a [href]="['/vehicles/catalogo/modelo']" class="add-link">Agregar Modelo</a>
        </div>

        <!-- Año y Precio en la misma línea -->
        <div class="form-group">
          <label for="anio">Año</label>
          <select
            id="anio"
            class="form-control"
            [(ngModel)]="vehicle.anio"
            name="anio"
            required
          >
            <option value="">Seleccione un año</option>
            <option *ngFor="let year of years" [value]="year">
              {{year}}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label for="precio">Precio</label>
          <input
            type="text"
            id="precio"
            class="form-control"
            [(ngModel)]="vehicle.precio"
            name="precio"
            required
          />
        </div>

        <!-- Stock es un numero de la cantidad que hay en stock-->
        <div class="form-group full-width">
          <label for="stock">Stock</label>
          <div class="form-check">
            <input
              type="number"
              id="stock"
              class="form-control"
              [(ngModel)]="vehicle.stock"
              name="stock"
            />
          </div>
        </div>

        <!-- Botones de acción -->
        <div class="form-group btns-actions full-width">
          <button type="button" class="btn btn-secondary" (click)="goBack()">
            Volver
          </button>
          <button
            type="submit"
            class="btn btn-custom"
            [disabled]="!vehicle.marca || !vehicle.modelo"
          >
            {{ vehicle.id ? 'Actualizar Vehiculo' : 'Crear Vehiculo' }}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>